p{
    color: rgb(12, 31, 24);
    text-align: center;
    padding: 10px;
    min-width: 350px;
    border-bottom-style: dotted;
    border-top-style: dashed;
    border-left-style: solid;
    border-bottom-width: 2px;
    border-top-width: 5px;
    border-left-color: rgb(97, 221, 108);
}
.happy {
    background-color: rgb(216, 108, 108);
    text-align: center;
    border-radius: 20px;
    border: solid 2px;
}
#love {
    text-decoration: line-through;
    background-color: bisque;
    text-align: center;
    border-radius: 100px;
    border: solid 2px;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background: url(https://www.ktc.co.th/pub/media/Article/02/hotel-fireworks-celebrate-new-year-countdown-1448x543.webp );
    

}
